// PALLETE
$color1: #252a34;
$color2: #08d9d6;
$color3: #ff2e63;
$color4: #eaeaea;
$color5: #ffffff;
$color6: #657186;

// Neutral colors
$surface: #252a34;
$on-surface: #ffffff;
$surface-inverse: #ffffff;
$on-surface-inverse: #252a34;

$outline: hsl(0, 0%, 75%);
$outline-variant: hsl(0, 0%, 80%);

// Accent colors
$primary: #08d9d6;
$on-primary: #252a34;
$primary-variant: #06bdba;
$primary-variant-darker: #049997;

$secondary: #657186;
$on-secondary: #eaeaea;
$secondary-variant: #78869d;
$secondary-variant-darker: #465163;

$tertiary: #ff2e63;
$on-tertiary: #252a34;

$error: #ff2e35;
$on-error: #252a34;

// Gradients
$primary-gradient: linear-gradient(to right, #08d9d6, #ff2e63);
$secondary-gradient: linear-gradient(250deg, #08d9d6 0%, #657186 50%, #08d9d6 100%);
